/*Responsive Styles*/

@media screen and (max-width : 750px){

.navbar{
	display: none !important;
}
	

}

@media screen and (min-width : 900px) and (max-width : 1100px){
	.utx {
    padding-right: 55px !important;
}
}

@media screen and (min-width : 700px) and (max-width : 899px){
	.utx {
    padding-right: 55px !important;
}
}

@media screen and (min-width : 550px) and (max-width : 699px){
	.utx {
    padding-right: 90px !important;
}
}

@media screen and (max-width : 549px){

#sub1 {
    width: 100% !important;
}
	

}

.panel {
    /* border-color: rgb(224, 225, 229) !important; */
    padding-top: 9px;
    border-top: 2px solid rgb(49, 163, 221) !important;
    border-bottom: 2px solid rgb(49, 163, 221) !important;
    border-left: 2px solid rgb(49, 163, 221) !important;
    border-right: 2px solid rgb(49, 163, 221) !important;
}